<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Luwe - Lapar ? Cari makanan yuk !</title>
    </head>
    <body>
        <a class="skip-link" href='#main'>Skip to content</a>
        <header>
            <a href="/" class="logo" aria-label="Luwe">Luwe</a>

            <nav>
                <a href="/">Home</a>
                <a href="#">Favorite</a>
                <a href="http://dendydharmawan.thedev.id/" target="_blank" rel="noopener noreferrer">About Us</a>
            </nav>

            <button id="mobile-nav-button" aria-label="Menu">
                <span class="iconify" data-icon="system-uicons:menu-hamburger" data-inline="false" data-width="40px"
                    data-height="40px" style="color: #fff;"></span>
            </button>

            <div id="mobile-nav">
                <a href="/">Home</a>
                <a href="#">Favorite</a>
                <a href="http://dendydharmawan.thedev.id/" target="_blank" rel="noopener noreferrer">About Us</a>
            </div>
        </header>

        <main id="main">
            <section id="hero">
                <div>
                    <h2>Lapar dan bingung mau makan dimana ?</h2>
                    <p>
                        Jangan khawatir, dengan <span style="font-weight: 700;">Luwe</span> kamu bisa temukan restoran di sekitarmu
                    </p>
                    <a href="#content">Cari Restoran</a>
                </div>
            </section>

            <section id="content">
                <h2>Restoran di sekitar mu</h2>
                <div id="list">

                </div>
            </section>
        </main>

        <footer class="footer"></footer>

        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    </body>
</html>
