<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cari makanan di sekitarmu">
        <meta name="keywords" content="Restoran" />
        <link rel="manifest" href="manifest.json">
        <meta name="theme-color" content="#845ec2" />
        <link rel="icon" href="favicon.jpeg">
        <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
        <title>Luwe - Lapar ? Cari makanan yuk !</title>
    </head>
    <body>
        <a class="skip-link" href='#main'>Skip to content</a>
        <header>
            <a href="/" class="logo" aria-label="Luwe">
                Luwe
            </a>

            <nav>
                <a href="/">Home</a>
                <a href="#/favorite">Favorite</a>
                <a href="http://dendydharmawan.thedev.id/" target="_blank" rel="noopener noreferrer">
                    About Us
                </a>
            </nav>

            <button id="mobile-nav-button" aria-label="Menu">
                <span class="iconify" data-icon="system-uicons:menu-hamburger" data-inline="false" data-width="40px"
                    data-height="40px" style="color: #fff;"></span>
            </button>

            <div id="mobile-nav">
                <a href="/">Home</a>
                <a href="#/favorite">Favorite</a>
                <a href="http://dendydharmawan.thedev.id/" target="_blank" rel="noopener noreferrer">
                    About Us
                </a>
            </div>
        </header>

        <main id="main">

        </main>

        <footer-element></footer-element>

        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    </body>
</html>
